.row{ 
    text-align: center;
    position: relative;
    background-color: aquamarine;
    color: black;
    padding-top: 1rem;
    height: 40px;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
} 