.app_register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 90px;
}
.register_form{
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    border: 0.5px solid gray;
}
h1{

}

.signup_button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.headerLink{
    color: brown;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.login{
    text-align: center;
    margin-bottom: 20px;
}

.signup_logo{
    cursor: pointer;
    text-align: center!important;
    width: 130px;
    margin-top: 15px;
    margin-bottom: 1px;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}